<h1>Markets</h1>

<% @facade.markets.each do |market| %>
<li>
    <%= market.name %> - <%= market.city %>, <%= market.state %>
    <%= button_to 'See more', "/markets/#{market.id}", method: :get %>
</li>
<% end %>